@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;

}

.navbar{
    position: fixed;
    width: 100%;
    padding: 15px 0;
    background: black;
    font-family: 'Ubuntu', sans-serif;
    z-index: 999;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: #d900da;
    font-size: 35px;
    font-weight: 600;

}

.navbar .menu li{
    list-style: none;
    display: inline-block;

}

.navbar .menu li a{
    color: #d900da;
    font-size: 22px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover{
    color: bisque; 
}


/*home section*/
.home{
    display: flex;
    background: url("./img/bg2.jpg") no-repeat center;
    height: 100vh;
    color: bisque;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width{
    margin: auto 0 auto 2px;
}

.home .home-content .text-1{
    font-size: 27px;
}
    
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

/*about section*/
section{
    padding: 100px 0;
}
.about{
    font-family: 'Poppins', sans-serif;
    background: #3a37f4;
    color: white;
}

.about .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.about .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: white;
    transform: translateX(-50%)
}

.about .title::after{
    content: "who am i";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: white;
    background: #3a37f4;
    padding: 5px;
    transform: translate(-50%);
}

.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about .about-content .right{
    width: 100%;
}

.about .about-content .right .text{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .right p{
    text-align: justify;
    font-size: 25px;
}



/*extra-curriculars*/
.extra{
    font-family: 'Poppins', sans-serif;
}

.extra .title{
    color: #fff;
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.extra .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #fff;
    transform: translateX(-50%)
}

.extra .title::after{
    content: "xxxxxx";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: #d900da;
    padding: 5px;
    background: #111;
    transform: translate(-50%);
}

.extra .extra-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.extra{
    color: #fff;
    background: #111;
}

.extra .extra-content .card{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.extra .extra-content .card i{
    font-size: 50px;
    color: #d900da;
}

.extra .extra-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;

}


.extra .extra-content .card .box{
    transition: all 0.3s ease;
}

.extra .extra-content .card:hover .box{
    transform: scale(1.05);
}

.extra .extra-content .card:hover{
    background: #d900da;
}

.extra .extra-content .card:hover i{
    color: #fff;
    transition: color 0.3s ease
}

/*contact*/

.contact{
    font-family: 'Poppins', sans-serif;
    background: black;
    color: white;
}


.contact .title{
    color: #d900da;
    position: relative;
    text-align: center;
    font-size: 95px;
    font-weight: 700;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
    text-align: left;
}

.contact .contact-content .column-left .text{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #d900da;

}


.contact .icons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 35px;
}

.contact .icons .card{
    width: calc(20% - 20px);
    background: #222;
    text-align: center;
    border-radius: 20px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact .icons .card i{
    font-size: 50px;
    color: #d900da;
}

.contact .icons .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;

}

.contact .icons .card .box{
    transition: all 0.3s ease;
}

.contact .icons .card:hover .box{
    transform: scale(1.05);
}

.contact .icons .card:hover{
    background: #d900da;
}

.contact .icons .card:hover i{
    color: #fff;
    transition: color 0.3s ease
}